/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 10px;
  color: grey;
}

.code {
  width: 40px;
  height: 40px;
  text-align: center;

  &:invalid {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
  }
}
